<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid my-5 bg-light py-4">
  <h1 class="text-center">REGISTRO DE EMPLEADOS</h1>

  <div class="container my-5 border-bottom">
    <div class="row mb-5">
      <app-formulario class="col-lg-6 col-md-8 col-sm-12 mx-auto" (mandarEmpleado)="guardarEmpleado($event)"></app-formulario>
    </div>
  </div>

  <div class="container my-4">
    <div class="form-group col-lg-6 col-md-8 col-sm-12 mx-auto">
        <label for="exampleFormControlSelect1">Filtrar por departamento:</label>
        <select class="form-control" (change)="departamentoSeleccionado($event)">
          <option selected>Todos</option>
          <option>Marketing</option>
          <option>Informática</option>
          <option>Ventas</option>
          <option>Diseño</option>
        </select>
    </div>
    <div class="row">
      <app-lista-empleados id="lista" class="p-5"  [listaEmpleadosFinal]="arrEmpleados"></app-lista-empleados>
    </div>
  </div>
</div>
