
<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Nombre:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="nombre">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Apellidos:</span>
    </div>
    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" [(ngModel)]="apellidos">
</div>

<div class="form-group">
    <label for="exampleFormControlSelect1">Departamento:</label>
    <select class="form-control" id="exampleFormControlSelect1" [(ngModel)]="departamento">
      <option selected>...</option>
      <option>Marketing</option>
      <option>Informática</option>
      <option>Ventas</option>
      <option>Diseño</option>
    </select>
</div>

<button type="button" class="btn btn-primary" (click)="guardarDatos()">Enviar</button>

